<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="{{ site.encoding }}">
    <meta name="theme-color" content="#1A1A1A">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <link rel="icon" type="image/x-icon" href="/{{ site.assets_dir }}/logo.ico">
    <link rel="alternate" hreflang="x-default" href="{{ site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} RSS Feed" href="/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap of {% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}" href="/sitemap.xml">
    <style type="text/css">
    {% capture scss %}
      {% include style.scss %}
    {% endcapture %}
    {{ scss | scssify }}
    </style>
  </head>
  <body>
    <div class="base-container">
      <div class="base-header">
        <a href="/">
          <div class="base-header-logo">
            {% include name.svg %}
          </div>
        </a>
      </div>
      <div class="base-links">
          {% for link in site.links %}
          <a href="{{ link.href }}">{{ link.name }}</a>
          {% endfor %}
      </div>
      <div class="base-content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
