---
layout: base
permalink: /
---
{% if site.posts.size > 0 %}
{% for post in site.posts %}
<div class="post">
  <div class="post-header post--small">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="post-aside post--small">
      {% if post.date %}
      <span>{{ post.date | date_to_string }}</span>
      {% endif %}
    </div>
  </div>
  {% if post.description %}
  <div class="post-content post--small">
    {{ post.description }}
  </div>
  {% endif %}
</div>
{% endfor %}
{% endif %}
